body {
  height: 100%;
  font-family: "Cascadia Code", sans-serif;
  background: linear-gradient(
    to top,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  position: fixed;
}

.nav-btn {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

h1 {
  margin-left: 5.813rem;
  font-size: 2rem;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

li {
  margin: 0 2.5rem;
}

.work-btn {
  margin-right: 5.813rem;
  border-radius: 4rem;
  font-size: 1.1rem;
  border-style: none;
  background-color: #141619;
  color: white;
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.work-btn-svg {
  background-color: #0b20c0;
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0 0 0 0.5rem;
}

.fake-browser {
  background-color: #0b20c0;
  box-sizing: border-box;
  border: 5px solid #050b45;
  height: 440px;
  width: 411px;
}

.fake-nav {
  background-color: #0b20c0;
  box-sizing: border-box;
  border-bottom: 5px solid #050b45;
}

.fake-close {
  background-color: #b3b4bd;
  box-sizing: border-box;
  height: 38px;
  width: 43px;
  border-right: 5px solid #050b45;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  height: 387px;
}

.cross-svg {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}
