body {
  height: 100%;
  font-family: "Cascadia Code", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  position: fixed;
  background-color: white;
}

.nav-btn {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

h1 {
  font-size: 2rem;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

li {
  margin: 0 2.5rem;
}

.work-btn {
  border-radius: 4rem;
  font-size: 1.1rem;
  border-style: none;
  background-color: #141619;
  color: white;
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.work-btn-svg {
  background-color: #0b20c0;
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0 0 0 0.5rem;
}

.fake-browser {
  background-color: #f2f2f2;
  box-sizing: border-box;
  border: 5px solid #000000;
  height: 440px;
  width: 411px;
  margin: 5rem 5rem 0 0;
}

.fake-nav {
  background-color: #393e46;
  box-sizing: border-box;
  border-bottom: 5px solid #000000;
}

.fake-close {
  background-color: #f2f2f2;
  box-sizing: border-box;
  height: 38px;
  width: 43px;
  border-right: 5px solid #000000;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  height: 387px;
}

.cross-svg {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  /* width: 100vh; */
  box-sizing: border-box;
  background: linear-gradient(
    to top,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
}

.hero-header {
  font-size: 56px;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  width: 70%;
  font-weight: bolder;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 15rem 0 0rem;
  width: 80vh;
  color: white;
  font-size: 24px;
  font-weight: 100;
}

.project-btn {
  border-radius: 4rem;
  font-size: 1.1rem;
  border-style: none;
  background-color: white;
  color: black;
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.project-btn > p {
  padding-right: 15px;
  font-weight: 600;
}

.skills {
  background: linear-gradient(
    to bottom,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
  height: 100vh;
}

.skills-header {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 56px;
  padding-top: 15vh;
}

.skills-browser {
  height: 60vh;
  width: 30vw;
}

.skills-content {
  display: flex;
  justify-content: center;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio {
  background: linear-gradient(
    to top,
    white 0%,
    white 50%,
    black 50%,
    black 100%
  );
  height: 100vh;
}

.project-header {
  color: white;
  margin: 0;
  text-align: center;
  font-size: 56px;
  padding-top: 15vh;
}

.title {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 0;
  color: black;
}

.project-cards {
  display: flex;
  justify-content: center;
}

.title-desc {
  display: flex;
  align-items: flex-end;
}

.proj-divider {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  padding-left: 25px;
}

.project-browser {
  display: flex;
  flex-direction: column; /* header + image stack */
  width: 100%;
  max-width: 500px; /* optional max width */
  margin: 2rem auto;
  background-color: #f2f2f2;
  border: 5px solid #000;
  overflow: hidden;
}

.project-image {
  flex: 1; /* Take up remaining height */
  position: relative; /* for the iframe */
}

.project-image img {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.project-desc,
.title,
.tools-icn {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left; /* Optional - adjust based on look */
  padding: 1rem 1rem; /* Optional spacing inside */
}


.contact {
  background: linear-gradient(
    to bottom,
    white 0%,
    white 50%,
    black 50%,
    black 100%
  );
  height: 100vh;
}

.contact-header {
  color: black;
  margin: 0;
  text-align: center;
  font-size: 56px;
  padding-top: 10vh;
}

.contact-browser {
  width: 90vh;
  height: 60vh;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  display: flex;
  margin: 40px 0px;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 40px;
  align-items: first baseline;
}

input,
textarea {
  border: none;
  margin: 8px 8px;
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px;
  border: 2px solid transparent;
  resize: none;
}

.contact-btn {
  border-radius: 4rem;
  font-size: 1.1rem;
  border-style: none;
  background-color: black;
  color: white;
  display: flex;
  height: 40px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

footer > p {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contact-icn > a > img {
  width: 44px;
  height: 44px;
  margin: 5px;
  padding-top: 210px;
}

a {
  text-decoration: none;
}

/* =========================
   RESPONSIVE STYLES
   ========================= */

/* Tablet and below */
@media screen and (max-width: 1024px) {
  nav {
    justify-content: space-between;
    padding: 0 20px;
  }

  .hero {
    flex-direction: column;
    background: white;
    height: auto;
    padding-top: 15vh;
  }

  .hero-text {
    margin: 0;
    width: 90%;
    text-align: center;
    align-items: center;
    color: black;
  }

  .hero-header {
    font-size: 40px;
    width: auto;
  }

  .project-btn {
    margin: 20px auto;
  }

  .fake-browser {
    margin: 2rem auto;
  }

  .portfolio {
    height: auto;
    padding-bottom: 40px;
  }

  .project-cards {
    flex-direction: column;
    align-items: center;
  }

.card {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .project-desc,
  .title {
    width: 80vw;
    text-align: center;
  }

  .contact {
    height: auto;
    padding-bottom: 50px;
  }

  .contact-content,
  .contact-section {
    flex-direction: column;
    align-items: center;
  }

  .contact-browser {
    width: 95%;
    height: auto;
  }

  form {
    margin: 0;
    align-items: center;
  }

  .contact-btn {
    margin: 20px auto;
  }

  .contact-icn img {
    padding-top: 20px;
  }
}

/* Phones */
@media screen and (max-width: 600px) {
  nav ul {
    display: none; /* Hide nav links for now (you can later add a burger menu) */
  }

  nav h1 {
    font-size: 1.5rem;
  }

  .hero-header {
    font-size: 30px;
  }

  .hero-text {
    font-size: 18px;
  }

  .fake-browser {
    width: 90%;
    height: auto;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  .project-header,
  .contact-header {
    font-size: 40px;
    padding-top: 10vh;
  }

  .tools-icn img {
    width: 40px;
    height: 40px;
  }

  .contact-icn img {
    width: 30px;
    height: 30px;
  }

  footer p {
    font-size: 0.8rem;
  }
}
