body {
  height: 100%;
  font-family: "Cascadia Code", sans-serif;
  background: linear-gradient(
    to top,
    black 0%,
    black 50%,
    white 50%,
    white 100%
  );
  margin: 0 10em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: auto;
  box-sizing: border-box;
  flex-direction: row;
  /* position: fixed; */
}

.nav-btn {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

h1 {
  margin-left: 5.813rem;
  font-size: 2rem;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
}

li {
  margin: 0 2.5rem;
}

.work-btn {
  border-radius: 4rem;
  font-size: 1.1rem;
  border-style: none;
  background-color: #141619;
  color: white;
  display: flex;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.work-btn-svg {
  background-color: #0b20c0;
  border-radius: 3rem;
  padding: 0.5rem;
  margin: 0 0 0 0.5rem;
}

.fake-browser {
  background-color: #F2F2F2;
  box-sizing: border-box;
  border: 5px solid #000000;
  height: 440px;
  width: 411px;
  margin: 5rem 5rem 0 0;
}

.fake-nav {
  background-color: #393E46;
  box-sizing: border-box;
  border-bottom: 5px solid #000000;
}

.fake-close {
  background-color: #F2F2F2;
  box-sizing: border-box;
  height: 38px;
  width: 43px;
  border-right: 5px solid #050b45;
  cursor: pointer;
}

.hero-image img {
  width: 400px;
  height: 387px;
}

.cross-svg {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  font-size: 3rem;
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-text {
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  margin: 0 20rem 0 10rem;
  height: 100vh;
  width: 100%;
}

.portfolio {
  color: white;
}